.banner-inner img{
  width: 100%;
}
.container-fluid
{
  padding: 0px !important;
  margin: 0px !important;
}
.banner-inner
{
  position: relative;
}
.banner-text {
    position: absolute;
    top: 40%;
    left: 321px;
    right: 0;
    bottom: 0;
    padding: 0 0 30px 0;
}
.banner-text h3
{
  color: #FD5D02;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  padding-bottom: 10px;
}
.banner-text h4
{
   color: #FD5D02;
  font-weight: light;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding-bottom: 13px;
}