.benefits-cards
{
  margin: 40px 0px;
}
.benefits-cards ul li {
    list-style-type: none;
    margin-bottom: 29px;
    font-size: 18px;
    display: inline-block;
    width: 48%;
    background-color: #FD5D02;
    padding: 25px 2px;
    margin: 18px 0px 0 15px;

}
.benefits-cards .benefits-icon {
    color: white;
    font-size: 30px;
    margin-right: 15px;
    margin-left: 14px;
}
.benefits-cards ul li span
{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 500;
}