#blog-section
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-blog
{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  margin-bottom: 20px;
}
.main-blog:hover
{
   box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.blog-image img
{
  width: 100%;
}
.blog-content {
    padding: 15px 15px;
}
.blog-content h2
{
  color: #FD5D02;
}
.blog-content ul
{
  padding: 0;
}
.blog-content ul li
{
  list-style-type: none;
}
.blog-content a
{
  color: #FD5D02;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}
.blog-content a:hover 
{
  color: black;
}
.blog-list img
{
  width: 150px;
}
.blog-list ul
{
  padding: 0;
}
.blog-list ul li {
    list-style-type: none;
    padding-left: 13px;
    display: flex;
    margin-bottom: 20px;
}
.blog-list ul li a
{
  text-decoration: none;
  color: #FD5D02;
  padding-left: 5px;
  font-size: 20px;
  transition: 0.3s;
}
.blog-list ul li a:hover 
{
  color: black;
}