#blog-section
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-blog {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.main-blog:hover
{
   box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.main-blog img {
    width: 100%;
    padding-left: 12px;
}
.blog-content
{
  padding: 15px ;
}
.blog-content h2
{
  color: #FD5D02;
}
.blog-content a
{
  color: #FD5D02;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}
.blog-content a:hover 
{
  color: black;
}
.numbering
{
  margin: auto;
  display: table;
}
.numbering ul li
{
  display: inline-block;
  list-style-type: none;
  margin:  0 10px;

}
.numbering ul li a
{
   color: #FD5D02;
  font-size: 18px;
}