
.outer-card {
    display: flex;
    margin: 0px;
    border-radius: 40px;
    z-index: 111111111111111;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.main-card {
    padding: 0px 43px !important;
    text-align: center;
    margin: 38px 0 !important;
    border-right: 1px solid #DDDDDD;
}
.outer-card .main-card:last-child {
    border-right: none;
}
.main-card h3 {
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    margin: 20px 0 20px 0;
    text-transform: capitalize;
    color: #FD5D02;
}
.allp {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.5;
    font-weight: 600;
    text-align: justify;
}
.main-card img {
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
}
.main-card button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-color: none;
    background-image: none;
    box-shadow: none;
    padding: 10px 28px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.main-card .usericon {
    color: #FD5D02;
    font-size: 30px;
}
.read-btn
{
    color: #FD5D02 !important;
}
.read-btn:hover {
    text-decoration: underline;
}