#faq-section
{
  margin: 50px 0px 50px 0px;
}
.accordion-button {
  background-color: #5f748f!important;
  color: white!important;
  font-family: "Oswald", sans-serif !important;
}
.accordion-item h2
{
  color: white !important;
}
.faq-image img
{
  width: 100%;
height: 412px;
}