#footer-section
{
    background-color: white;
    padding: 50px 0px 20px 0px;
}

.mainlogo img
 {
    width: 130px;
 }
.allp.footp
{
  margin-top: 9px !important;
  color: black !important;
}
.mainft .rightp

{
  text-align: center !important;
}
.mainft ul li
{
  list-style: none;
  margin-bottom: 14px;
  position: relative;
  font-size: 18px;
}
.mainft h4
{
  font-weight: bold;
  margin-bottom: 0px;
    color: black;
}
.mainft h4::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: black;
    margin-bottom: 0;
    margin-top: 7px;
}
.mainft ul li a
{
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}
.mainft ul li:hover a
{
  color: #FD5D02;
}
.rightp
{
  text-align: center !important;
  color: black !important;
  font-weight: 500 !important;
  margin-top: 30px;
}
.mainft {
    margin-top: 38px !important;
    padding-left: 74px !important;
}
.mainft ul {
    margin: 0;
    padding: 17px 0 0 4px;
}

.mediaicons {
    display: flex !important;
    margin: 0;
    padding: 0;
}
.mainft .mediaicons li
{
  margin-left: 3px;
  margin-right: 8px;
}
.mainft .mediaicons li a
{
   font-size: 35px;
}
.mediaicons ul li:hover 
{
  transform: rotateY('360deg') !important;
}