#footer-section
{
    background-color: white;
    padding: 50px 0px 20px 0px;
}

.mainlogo img
 {
    width: 200px;
 }
.allp.footp
{
  margin-top: 0px !important;
  color: black !important;
}
.mainft .rightp

{
  text-align: center !important;
}
.mainft ul li
{
  list-style: none;
  margin-bottom: 5px;
}
.mainft h4
{
  font-weight: bold;
  margin-bottom: 0px;
    color: black;
}
.mainft h4::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: black;
    margin-bottom: 0;
    margin-top: 7px;
}
.mainft ul li a
{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.mainft ul li a:hover
{
  text-decoration: underline;
  color: black
}
.rightp
{
  text-align: center !important;
  color: black !important;
  font-weight: 500 !important;
  margin-top: 30px;
}
.mainft {
    margin-top: 38px !important;
    padding-left: 74px !important;
}
.mainft ul {
    margin: 0;
    padding: 17px 0 0 4px;
}

.mediaicons {
    display: flex !important;
    margin: 0;
    padding: 0;
}
.mainft .mediaicons li
{
  margin-left: 3px;
  margin-right: 8px;
}
.mainft .mediaicons li a
{
   font-size: 35px;
}