.inner-main-header .navbar-brand img {
  width: 100%;
  height: 180px;
}
.inner-main-header   .bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: white;
}
.inner-main-header .navbar-expand-lg .navbar-nav {
  margin: 0 auto;
  position: relative;
}
.inner-main-header .navbar-nav .nav-item a {
  font-size: 20px;
  color: black !important;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  margin: 0 20px 0 0;
  padding: 0;
}
.inner-main-header .navbar-nav .nav-item
{
  margin: 0 17px 0 0;
}
.inner-main-header .navbar-nav .nav-item .nav-link.active {
  color: #f68436 !important;
}
.inner-main-header .navbar-nav .nav-item:hover a {
  color: #f68436 !important;
}
.get-quote button {
  text-transform: uppercase;
  background-color: #f68436;
  border-color: #f68436;
  background-image: none;
  box-shadow: none;
  padding: 10px 28px;
  color: black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  transition: 0.3s;
  border-radius: 3px;
}
.get-quote i {
  margin-left: 10px;
  transition: 0.3s;
}
.get-quote:hover i {
  color: white;
  transform: translateX(50%);
}
.get-quote:hover button {
  color: white;
}