
.inner-main-header .navbar-brand img {
  width: 100%;
  height: 140px;
}
.inner-main-header   .bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: white;
}
.inner-main-header .navbar-expand-lg .navbar-nav {
  margin: 0 auto;
  position: relative;
  z-index: 111111111111111;
  background-color: white;
}
.inner-main-header .navbar-nav .nav-item a {
  font-size: 19px;
  color: #FD5D02 !important;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  margin: 0 20px 0 0;
  padding: 0;
}
.inner-main-header .navbar
{
padding: 0;
margin: 0;
height: 107px;
}
.inner-main-header .navbar-brand
{
  padding: 0;
  margin: 0;
}
.inner-main-header .navbar-nav .nav-item
{
  margin: 24px 20px 0 0;
}
.inner-main-header .navbar-nav .nav-item .nav-link.active {
  color: #FD5D02 !important;
}
.inner-main-header .navbar-nav .nav-item:hover a {
  color: #FD5D02!important;
}
.inner-main-header .dropdown-toggle::after {
   
    position: relative !important;
    top: -27px !important;
    margin-left: 4.255em !important;
}
/* Hide dropdown by default */
.inner-main-header .nav-item .dropdown-menu {
    padding: 10px 10px 10px 10px;
  display: none;
  padding: 10px;
}
.inner-main-header .nav-item:hover .dropdown-menu {
  display: block;
 
}
.dropdown-menu li {
    padding: 0 0 10px 0;
}


.all-button {
  text-transform: uppercase;
  background-color: #FD5D02;
  border-color: #FD5D02;
  background-image: none;
  box-shadow: none;
  padding: 10px 28px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  transition: 0.3s;
  border-radius: 3px;
}
.all-button:hover  {
  background-color: transparent;
  color: #FD5D02;
}
.all-button .svg-inline--fa {
 padding-left: 10px;
}