/* NAVBAR GENERAL */
.navbar {
  width: 100%;
  background: transparent;
  padding: 10px 20px;
  box-shadow: none;
  position: sticky;
  top: 0;
  z-index: 1000;

}
.dropdown-toggle::after {
    display: none !important;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 0px;
}

/* Logo */
.nav-logo img {
  height: 90px;
}

/* MENU */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 54px;
    padding: 12px 21px !important;
}
.nav-menu li
{
  padding: 10px 0;
}
.nav-menu li a::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, #F1C40F, #E74C3C);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav-menu  li a:hover::before {
    width: 100%;
    border-radius: 50%;
  }
  .nav-menu .dropdown::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, #F1C40F, #E74C3C);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav-menu .dropdown:hover::before
  {
     width: 100%;
    border-radius: 50%;
  }
.nav-menu li a
{
  font-size: 19px;
  color: #FD5D02;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  padding: 15px 0 18px 0;
  position: relative;
}
.nav-menu li a, 
.dropdown-toggle {
  text-decoration: none;
  font-size: 19px;
  color: #FD5D02;
  cursor: pointer;
   font-family: "Oswald", sans-serif;
   padding-left: 0px;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 19px;
  display: flex;
  align-items: center;
   font-family: "Oswald", sans-serif;
}

.caret {
  margin-left: 5px;
  font-size: 12px;
}

/* DROPDOWN MENU */
.dropdown-menu {
  position: absolute;
  background: white;
  list-style: none;
  padding: 10px 0;
  margin-top: 8px;
  display: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.dropdown-menu li {
  padding: 0px 20px;
}
    .nav-menu.active {
    display: block !important;
    padding: 10px 23px;
}
.dropdown-menu li a {
  display: block;
  width: 100%;
}

.dropdown-menu.show {
  display: block;
  width: 200px;
}

/* button */
.get-quote {
    margin-top: 24px !important;
}

/* MOBILE RESPONSIVE */
@media (max-width: 992px) {

  .nav-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        float: right;
        position: relative;
        right: -193px;
    }

  .nav-toggle span {
    width: 28px;
    height: 3px;
    background: #222;
  }

  .nav-menu {
    position: absolute;
    left: 0;
    top: 116px;
    width: 100%;
    flex-direction: column;
    background: #fff;
    padding: 20px 0;
    gap: 15px;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  /* Dropdown inside mobile */
  .dropdown-menu {
    position: static;
    box-shadow: none;
  }
}
