#process-section
{
  margin: 110px 0px 50px 0px;
}
.proimage img
{
  width: 100%
}
.proimage {
    width: 40%;
    float: left;
}
.protext {
    width: 60%;
    float: right;
}
#pills-tab {
    margin: auto;
}
.process-tabs
{
  margin: auto;
  display: grid;
}
.process-tabs ul li button
{
  background-color: transparent;
  border-color: #FD5D02;
  color: #FD5D02;
  margin: 0px 7px;
  font-size: 17px;
  border-radius: 0px;
  border: 2px solid #FD5D02;
  font-family: "Oswald", sans-serif;
  border-radius: 7px !important;

}
.process-tabs ul li button:hover
{
  background-color: #FD5D02;
  color: white;
} 
.protext p {
    font-weight: 100;
    font-size: 17px;
    padding: 0 30px;
    margin: 0;
}
.process-tabs .nav-link.active {
   background-color: #FD5D02 !important;
   color: white !important;

}
#pills-tabContent {
    border: 2px solid #FD5D02;
    padding: 20px;
}





/* new-process */
/* .newprocess-content
{
  position: relative;
}
.newprocess-content ul li {
    list-style-type: none;
    display: inline-block;
    width: 25%;
    padding: 0 43px;
}
.newprocess-content ul li img
{
  width: 150px;
  border-radius: 87px;
  height: 150px;
}
.newprocess-content .own-badge
{
  background-color: #FD5D02;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  bottom: 62px;
}
.newprocess-content .arrow-icon {
    font-size: 60px;
    color: lightgray;
    position: relative;
    top: -322px;
    left: 219px;
    rotate: calc(90deg);
}
.newprocess-content ul li:hover .arrow-icon
{
    color: #FD5D02;
} */