@media screen and (min-width:0px) and (max-width:767px) {
    .inner-main-header .navbar-brand img {
    height: 117px !important;
}
.navbar-toggler {
    margin-right: 21px;
}
      .slider-text {
        height: auto;
        left: 0;
        width: 100%;
        padding: 0 40px;
        top: 8%;
    }
    .swiper-slide img {
    height: auto;
}
    .slider-text h2 {
    font-size: 40px;
}
        
.allp.slidep 
{
        font-size: 18px;
        padding: 0 38px;
        max-width: 92%;
    }
.main-card {
    
    width: 100% !important;
    border: none;
    margin: 10px 0px !important;
}
.main-card h3 {
    font-size: 28px;
}
.allp {
    font-size: 15px;
}
.who-img{
    width: 100% !important;
    margin-bottom: 30px;
}
    .who-text {
        width: 100% !important;
        padding: 0 14px !important;
    }
#who-section {
    margin: 0 0 0px 0;
}
.all-heading {
    font-size: 30px;
}
.subtitle {
    font-size: 33px;
}
.all-services {
    width: 100% !important;
    margin: 17px 0px !important;
}
.ser-text h3 {
    font-size: 25px;
}
.ser-text .allp.serp {
    font-size: 16px;
}
.all-button.servbtn {
    border-color: #FD5D02;
    font-size: 14px;
}
#footer-section {
    padding: 0 0px 20px 0px !important;
}
.mainlogo {
    width: 100% !important;
}
.allp.footp {
    padding-left: 5px !important;
}
.mainlogo img {
    width: 150px !important;
    margin: auto !important;
    display: table !important;
}
.mainft {
        padding-left: 48px !important;
        width: 35% !important;
        margin-top: 0px !important;
        margin-left: -56px !important;
    }
.blue-div {
    margin-top: 36px;
}
#services-section {
    margin: 0 0 0px 0;
}
#why-us-section {
    margin: 0 0px;
}
.why-list {
    width: 100% !important ;
}
.usericon.whyicon {
    font-size: 15px;
    left: -59px;
}
.why-list ul li {
    padding: 0px 17px 0px 70px;
    height: 73px;
}
.why-list ul li h3 {
    font-size: 25px;
}
.whyus-img {
    width: 100% !important;
}
    .cta-text h3 {
        font-size: 31px;
    }
.blue-div ul {
    margin-left: 0;
    padding-left: 0;
}
.blue-div li {
    width: 50%;
    padding: 15px 0 20px 13px;
}

.who-text {
    margin-top: 40px !important;
}


/* about-page */
.banner-text {
    top: 26%;
    left: 26px;
}
#story-section {
    margin: 50px 16px 50px 16px;
}
    .missioncard {
        padding: 40px 15px 2px 15px !important;
        margin: 60px 0;
        width: 100% !important;
    }
.cardicon {
    width: 16%;
}

#pills-tabContent {
    margin: 0 8px 0 10px;
}
      #process-section {
    margin: 50px 0px 50px 0px;
} 
.protext {
    width: 100%;
    float: right;
}
.proimage {
    width: 100%;
    float: left;
}
.protext p {
    padding: 14px 0px;
    margin: 0;
}

/* services-page */
.storytext p {
    margin: 24px 15px 0 15px;
    font-size: 17px;
}
#innerpara {
    margin: 60px 0px 0px 0px;
}

/* booking-page */
#slotpara-section {
    margin: 50px 14px 50px 14px;
}
.formcontent {
    width: 90% !important;
    margin: 0 41px;
}
.service-image {
    display: none;
}
.mainform {
    width: 90% !important;
    margin: 25px 30px !important;
}
#slotpara-section {
    margin: 50px 15px 50px 15px !important;
}


/* contact-page */
.contact-icons {
    width: 100% !important;
}
.contact-icons ul li {
    margin: 0 48px !important;
    display: inline-block;
}
.contact-form {
    width: 100% !important;
}
#coninfo-section {
    margin: 0 32px;
}
#faq-section {
    margin: 50px 15px 50px 15px;
}
    .subtitle {
        font-size: 25px;
    }



/* dementia-care */


/* benefits */
.benefits-cards ul li {
    width: 92% !important;
}
   /* faq-section */

.faq-image {
    width: 100% !important;
}
.faq-accordion {
    width: 100% !important;
}















}













@media screen and (min-width:768px) and (max-width:991px){

 .inner-main-header .navbar-brand img {
    width: 100%;
    height: 116px !important;
}
    .slider-text h2
     {
    font-size: 37px;
}
.swiper-slide img {
    height: 100%;
}
.allp.slidep {
    font-size: 17px;
}
#who-section {
    margin: 8px 0 37px 0;
}
.who-img {
    width: 100% !important;
}
.who-text {
    padding: 0px 0 0 0 !important;
    width: 100% !important;
}
.blue-div ul {
    margin-left: 0;
    padding-left: 0;
}
.blue-div li {
    padding: 15px 0 20px 17px;
    margin: auto;
    width: 50%;
}
#services-section {
    margin: 24px 0 50px 0;
}
.all-services {
    width: 48% !important;
    margin: 6px 6px;
}
#why-us-section {
    margin: 0 0px;
}
.why-list {
    width: 100% !important;
}
.usericon.whyicon {
    font-size: 16px !important;
    top: 45px;
    left: -52px;
}
.whyus-img {
    width: 100% !important;
}
#cta-section {
    background-color: #FD5D02;
    padding: 43px 0 40px 0;
}
.cta-text h3 {
    font-size: 31px;
}
.mainlogo {
    width: 100% !important;
}
.mainlogo img {
    margin: auto;
    display: table;
}
#footer-section {
    background-color: white;
}
.mainft 
{
   padding-left: 48px !important;
        width: 41% !important;
        margin-top: 0px !important;
        margin-left: -56px !important;
}

.who-text {
    margin-top: 40px !important;
}

/* about-pge */
.banner-text {
    top: 40%;
    left: 46px;
}
.missioncard {
    margin: 0 5px;
}
.cardicon {
    width: 64%;
}
#pills-tabContent {
    border: 2px solid #FD5D02;
    padding: 20px;
    margin: 0 9px 0 10px;
}
.process-tabs ul li button {
    margin: 0px 6px;
    font-size: 15px;
    border-radius: 0px;
    border: 2px solid #FD5D02;
    font-family: "Oswald", sans-serif;
    border-radius: 0px !important;
}

.protext {
    width: 100%;
    float: none;
}
.proimage {
    width: 100%;
    float: none;
}
.protext p {
    padding: 13px 0;
    margin: 0;
}
.faq-image {
    width: 100%;
}
.faq-accordion {
    width: 100%;
    margin-top: 10px;
}

/* service-page */
           .banner-text {
        top: 22%;
        left: 67px;
    }

/* booking-page */
.formcontent {
    width: 100% !important;
}
.mainform {
    width: 100% !important;
}
.service-image {
    display: none;
}
#footer-section {
    padding: 0 0px 20px 0px !important;
}

.benefits-cards ul li {
    width: 91% !important;
}
.faq-image {
    width: 100% !important;
}
.faq-accordion {
    width: 100% !important;
}
}

@media screen and (min-width:992px) and (max-width:1024px) {
   .banner-text {
    top: 35%;
    left: 45px;
}
.slider-text h2 {
    font-size: 45px;
}
.allp.slidep {
    font-size: 17px;
}
#who-section {
    margin: 10px 0 90px 0;
}
.blue-div li {
    padding: 0px 0 20px 19px;
    width: 49%;
}
    .all-services {
        margin: 0 0 19px 19px;
        width: 31.2% !important;
    }
.usericon.whyicon {
    font-size: 16px !important;
    padding: 9px;
    top: 43px;
    left: -45px;
    font-size: 25px;
}
.cta-text h3 {
    font-size: 43px;
}
.missioncard {
    width: 30.7% !important;
}
.cardicon {
    width: 47%;
}
.who-img img {
    width: 100%;
}

/* about-us-page */
.faq-image {
    width: 50%;
}
.faq-accordion {
    width: 50%;
    margin-top: 10px;
}
/* booking-page */
.mainform ul li {
    width: 100%;
}
}

@media screen and (min-width:1025px) and (max-width:1200px) {


#who-section {
    margin: 0px 0 0px 0;
}
.blue-div ul
{
    margin: 0;
    padding: 0;
}
.blue-div li {
    padding: 0px 0 20px 19px;
    width: 49%;
}
.all-services {
        margin: 0 0 19px 19px;
        width: 31.2% !important;
    }
    .usericon.whyicon {
    padding: 8px;
    top: 48px;
    left: -55px;
}
.cta-text h3 {
    font-size: 41px;
}

/* about-page */

.banner-text {
    top: 33%;
    left: 72px;
}

.missioncard {
    width: 30.7% !important;
}

.cardicon {
    width: 47%;
}



}
