#review-section
{
  margin: 50px 0px;
}

.review-slider img {
    width: 100px;
    margin: auto;
    display: block;
    height: 79px;
    border: 4px solid #FD5D02;
    border-radius: 62px;
    padding-bottom: 6px;
}
.review-slider {
    position: relative !important;
    height: 290px !important;
    margin: 30px 0;
}
.review-text p {
    color: black !important;
    margin-top: 40px;
    font-family: oswald, sans-serif !important;
    font-size: 17px !important
}
.review-text span
{
  font-size: 22px;
  font-weight: 700;
  color: #FD5D02;
  text-transform: capitalize;
}
.slider-text.review-text {
    display: block;
    height: 0px !important;
    position: relative;
    margin: auto;
    width: 80%;
}
.swiper-pagination-bullet {
    background-color: #FD5D02;
}
.clienticon {
    font-size: 35px;
    color: #FD5D02;
    margin: auto;
    display: block;
    border: 4px solid #FD5D02;
    border-radius: 62px;
    padding: 20px;

}