/* Use a relative path from this CSS file to the image in src/assets/Images */


.servicebg img {
  width: 100%;
}

.service-inner {
  
  padding: 15px 0px;
}

.all-services {
    margin: 0px 14px 17px 0px;
    transition: 0.3s;
    padding: 0 !important;
    width: 32.2% !important;
    border: 2px solid #FD5D02;
    position: relative;
}
.ser-text.innerpage.texted {
    padding: 12px 10px;
}
.all-services img {
  width: 100%;
  height: auto;
  transition: 0.3s;
   transition: transform 0.3s ease-in-out;
}
.all-services:hover img{
   transform: scale(1.05); 
}
.main-services {
  margin-top: 40px !important;
  margin: auto !important;
}

.inner-service-content {
  position: relative;
}

.ser-text .allp.serp {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}
.ser-text h3 {
  text-transform: capitalize;
  font-size: 25px;
  margin: 0;
  padding-bottom: 4px;
}
.all-services:hover .ser-text {
  display: block;
  bottom: 0px;
 
}
.all-button.servbtn
{
  border-color: #FD5D02;
font-size: 11px;
}
.all-button.servbtn:hover
{
  color: black;
}
#services-section {
    margin: 50px 0 50px 0;
 }
.main-services {
    margin-top: 37px !important;
}