/* Use a relative path from this CSS file to the image in src/assets/Images */


.servicebg img {
  width: 100%;
}

.service-inner {
  
  padding: 15px 0px;
}

.all-services {
    margin: 0px 14px 17px 0px;
    transition: 0.3s;
    padding: 0 !important;
    width: 32.2% !important;
    border: 2px solid #FD5D02;
    position: relative;
}
.all-services img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.main-services {
  margin-top: 40px !important;
  margin: auto !important;
}

.inner-service-content {
  position: relative;
}

.ser-text {
 

  color: black;
  background-color: transparent;
  opacity: 0.8;
  padding: 10px 15px;
  border-radius: 0px;
  width: 100%;
  transition: all 0.4s ease-in-out !important;
}
.ser-text .allp.serp {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}
.ser-text h3 {
  text-transform: capitalize;
  font-size: 25px;
  margin: 0;
}
.all-services:hover .ser-text {
  display: block;
  bottom: 0px;
 
}
.all-button.servbtn
{
  border-color: #FD5D02;
font-size: 11px;
}
.all-button.servbtn:hover
{
  color: black;
}
#services-section {
    margin: 50px 0 50px 0;
}
.servicehover {
    position: absolute;
    top: 0%;
    left: 0;
    background-color: black;
    height: 275px;
    width: 100%;
  display: none;
  
}
.service-icons
{
  position: absolute;
 color: #FD5D02;
 font-size: 25px;
  top: 40%;
  left: 48%;
  
}
.all-services:hover .servicehover
{
  display: block;
 
}