.container-fluid
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.servicebg img
{
  width: 100%;
}
.service-inner
{
  background-image: "url('./assets/Images/service.png')";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
}
.all-services
{
  margin-bottom: 25px;
}
.all-services img{
  width: 100%;
  height: auto;
}
.all-heading.cen-heading
{
  margin: auto;

}
.main-services
{
margin-top: 40px !important;
}
.inner-service-content
{
  position: relative;
}
.ser-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: rgba(1, 36, 81, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}