/* Use a relative path from this CSS file to the image in src/assets/Images */
.container{
}

.servicebg img {
  width: 100%;
}

.service-inner {
  
  padding: 15px 0px;
}

.all-services {
    margin: 0px 14px 17px 0px;
    position: relative;
    z-index: 8888888888888;
    overflow: hidden;
    transition: 0.3s;
    padding: 0 !important;
    width: 32.2% !important;
}
.all-services img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.main-services {
  margin-top: 40px !important;
  margin: auto !important;
}

.inner-service-content {
  position: relative;
}

.ser-text {
  position: absolute;
  bottom: -108px;
  left: 0;
  color: white;
  background-color: #FD5D02;
  opacity: 0.8;
  padding: 10px 15px;
  border-radius: 0px;
  width: 100%;
   transition: all 0.4s ease-in-out !important;
}
.ser-text .allp.serp {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}
.ser-text h3 {
  text-transform: capitalize;
  font-size: 25px;
  margin: 0;
}
.all-services:hover .ser-text {
  display: block;
  bottom: 0px;
 
}
.all-button.servbtn
{
  border-color: white;

}
.all-button.servbtn:hover
{
  color: black;
}