.swiper-slide 
{
 width: 100%;
}
.swiper-slide img
{
  width: 100%;
  margin: auto;
  display: block;
  height: 800px
}
.slider-text {
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 111111111111111 !important;
}
.slider-text h2 {
    font-size: 63px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: #FD5D02;
    z-index: 1111111111111111111111111;
   
    text-transform: capitalize;
}
.allp.slidep {
    font-size: 20px;
    color: white;
    margin: 14px 0 38px 0;
    max-width: 61%;
    text-align: center;
}
.swiper-button-prev, .swiper-button-next{
    color: #FD5D02 !important;
}