.swiper-slide 
{
 width: 100%;
}
.swiper-slide img
{
  width: 100%;
  margin: auto;
  display: block;
  height: 800px
}
.slider-text
{
position: absolute;
  top: 0%;
  right: 0%;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
 text-align: center;
 
  z-index: 111111111111111 !important;
  
}
.slider-text h2
{
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: white;
  z-index: 1111111111111111111111111
  ;
}
.swiper-button-prev, .swiper-button-next{
    color: #FD5D02 !important;
}