.row
{
  margin: 0px !important;
}
.who-img img {
    width: 100%;
}
#who-section {
    margin: 90px 0 90px 0;
}
.who-text{
    padding: 0px 0 0 80px !important;
}
.all-heading
{
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    border-left: 2px solid #FD5D02 ;
    border-right: 2px solid #FD5D02 ;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.blue-div li {
    display: inline-block;
    padding: 15px 0 20px 25px;
    text-align: center;
}
.bluedivbtn {
    margin: auto;
    display: block;
    margin-top: 20px;
    background-color: #FD5D02;
    border-color: #FD5D02;
}
.blue-div {
    background-color: #FD5D02;
    color: white;
    border-radius: 20px;
    padding: 30px 0 30px 0;
    margin-top: 15px;
}
.blue-div ul li h4{
  text-transform: capitalize;
  font-size: 20px;
}
.allp
{
    margin-top: 30px;
    color: black;
}

.subtitle {
    font-size: 23px;
    text-transform: capitalize;
    font-family: oswald, sans-serif;
    color: black;
    text-align: center;
    margin-top: 17px;
}
.usericon {
    font-size: 25px;
}