#why-us-section{
margin: 50px 0px;
}
.why-list ul li {
    list-style-type: none;
    background-color: #FD5D02;
    padding: 11px 17px 24px 17px;
    margin: 15px 0;
    border-radius: 16px;
    color: white;
}
.why-list ul {
    margin: 0;
    padding: 0px;
}
.why-list ul li h3
{
  font-size: 25px;
}
.allp.whyp {
    margin: 0;
    padding-left: 5px;
    color: white;
}
.svg-inline--fa.fa-user-check.usericon.whyicon {
   
   
    font-size: 20px;
   
    padding: 11px;
}
.whyus-img img {
    width: 100%;
    height: 600px;
    margin-top: 22px;
}