#why-us-section{
margin: 50px 0px;
}
.why-list ul li {
    list-style-type: none;
    background-color: transparent;
    padding: 0px 17px 0px 17px;
    margin: 0px 0;
    border-radius: 16px;
    color: #FD5D02;
    height: 90px;
  
}
.why-list ul {
    margin: 0;
    padding: 0px;
}
.why-list ul li h3
{
  font-size: 25px;
}
.allp.whyp {
    margin: 0;
    padding-left: 5px;
    color: black;
}
.usericon.whyicon {
    font-size: 20px;
    position: relative;
    padding: 11px;
    top: 52px;
    left: -70px;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.whyus-img img {
    width: 100%;
    margin-top: 22px;
}