a
{
    text-decoration: none !important;
}
/* Hide the button in the banner specifically on the Booking page */
.booking-banner-wrapper .banner-text .all-button {
    display: none !important;
}
@media (min-width:0px) and (max-width:350px){
    .container, .container-sm {
        max-width: 100% !important;
    }
    .hero-cta
    {
        display: none !important;
    }
}
@media (min-width:0px) and (max-width:500px)
 {

.container, .container-sm {
        max-width: 100% !important;
    }
.all-heading {
    font-size: 30px;
}
/* home-page */

.main-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
}
.get-quote
{
    display: none;
}
.nav-toggle span {
        background: #FD5D02;
    }

.navbar
{
    width: 100% !important;
}
.nav-container
{
    margin: 0;
}
.nav-toggle
{
    right: 0;
}
/* hero-section */
.hero-image {
    height: auto;
}
.hero-text {
        top: 10px;
        left: 0;
        text-align: center;
        padding: 0 15px;
        z-index: 0;
        align-items: center;
    }
.hero-text h1 {
    font-size: 14px;
    text-align: center;
}
.hero-text span
{
    text-align: center;
}
.hero-text h2 {
    font-size: 20px;
    display: none;
    text-align: center;
}
   .hero-cta {
        display: none;
    }
.hero-cta button
{
    font-size: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
}
.all-button .svg-inline--fa {
    padding-left: 2px;
}
.slider-text h2 {
    font-size: 18px;
}
.allp.slidep
{
    display: none;
}
.outer-card {
    margin-top: 10px !important;
}
.main-card {
        border: none;
        padding: 0px !important;
        margin: 0px !important;
    }
    .ser-text.innerpage.texted {
    padding: 0;
}
.slider-text .all-button
{
    display: none;
}
#who-section {
    margin: 5px 0 25px 0;
}
.who-img
{
    padding-bottom: 20px;
}
.who-text {
    padding: 0px 0 0 0px !important;
}
.blue-div ul 
{
    margin: 0;
    padding: 0
}
.blue-div li {
    padding: 15px 0 20px 0px;
    text-align: center;
    margin: auto;
    display: block;
}
.outer-whyus {
    display: flex;
    flex-direction: column;
}
.why-list ul {
    margin: 0;
    padding: 0 0 0 14px;
}
.why-list ul li 
{
    height: auto;
    padding: 10px 0 0 0;
    text-align: center;
}
.why-list ul li h3 {
    font-size: 20px;
    padding-top: 11px;
}
.usericon.whyicon {
    font-size: 20px;
    position: static;
    margin: auto;
    display: block;
}
#services-section {
    margin: 20px 0 0 0;
}
.ser-text .allp.serp {
    font-size: 18px;
}
.all-services-cards {
    grid-template-columns: repeat(1, 1fr);
}
/* gmap-section */
#gmap-section {
    margin: 25px 0 0 0;
}
.gmap-image {
    width: 100% !important;
}
.serve-area {
    width: 100% !important;
}
.serve-area ul {
    padding: 0;
    margin: 23px 0 0 0;
}
.blog-content {
    height: auto;
}
.cta-text h2 {
    font-size: 33px;
}
#footer-section {
    background-color: white;
    padding: 6px 0px 16px 0px;
}
.mainlogo img {
    width: 130px;
    margin: auto;
    display: block;
}
.mainft {
    margin-top: 18px !important;
    padding-left: 16px !important;
}
.main-services.own-dementiaincluded {
   display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
}
/* about-page */
#story-section {
    margin: 30px 0 0 0;
}
.banner-inner {
    min-height: auto;
}
    .banner-text {
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 0 0 0;
        text-align: center;
        width: 100%;
    }
    .banner-text h1 {
    font-size: 25px;
}
.banner-text h2 {
    display: none;
}
   .storytext p {
    color: black;
    margin: 24px 0 0 0;
    font-size: 18px;
}
.banner-text h4 {
    display: none;
}
.banner-text .all-button
{
    display: none;
}
.mission-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 65px;
}
#process-section {
    margin: 0 0px 50px 0px;
}
.process-tabs .nav-item
{
    width: 100%;
    margin-bottom: 10px;
}
.process-tabs .nav-link
{
    width: 100%;

margin: 0;

}
#pills-tabContent {
    padding: 8px;
}
.protext
{
    width: 100%;;
}
.protext p 
{
    padding: 0;
}
.proimage
{
    width: 100%;

}

/* location-pages */
.hc-services-cards-outer {
    grid-template-columns: repeat(1, 1fr);
}






/* blog-page */
.main-blog {
    display: block;
}
.blog-image img 
{
    padding-left: 0px;
}
.left-blog-content {
    width: 100% !important;
    padding: 0;
}
.right-blog-list {
    width: 100% !important;
}
.orange-blog-div h4 {
    font-size: 32px;
}
.numbering {
    padding-top: 27px;
}
/* booking-page */
.service-image {
    display: none;
}
.mainform ul li {
    width: 100%;
    margin: 0 0px;
}

.own-checkitems {
    padding: 22px 0 0 0px;
}
.formcontent
{
    display: none;
}
/* contact-page */
#slotpara-section {
    margin: 19px 0px 0 0px;
}
.coninfo-outer {
    margin: 0 0 50px 0;
}
.contact-icons ul li {
    display: block;
    width: 50%;
}
.contact-icons .con-icon {
    font-size: 20px;
}
.contact-icons .con-icon {
    left: -34px;
    top: 23px;
}
.contact-icons ul li h4 {
    font-size: 20px;
}
.benefits-cards ul 
{
    margin: 0;
    padding: 0;;
}
.benefits-cards ul li {
    width: 100%;
    margin: 18px 0px 0 0;
}
.scroll-to-top {
   
    right: 39px;
}

}



@media (min-width:501px) and (max-width:767px)
 {

.container, .container-sm {
        max-width: 100% !important;
    }
.all-heading {
    font-size: 30px;
}
/* home-page */

.get-quote
{
    display: none;
}
.nav-toggle span {
        background: #FD5D02;
    }

.navbar
{
    width: 100% !important;
}
.nav-container
{
    margin: 0;
}
.nav-toggle
{
    right: 0;
}
/* hero-section */
.hero-image {
    height: auto;
}
.hero-text {
        top: 0;
        left: 0;
        text-align: center;
        padding: 0 15px;
        align-items: center;
    }
.hero-text h1 {
    font-size: 27px;
    text-align: center;
}
.hero-text h2 {
    font-size: 20px;
    text-align: center;
}
.hero-cta {
    display: none;
}

.slider-text h2 {
    font-size: 30px;
}
.all-services-cards {
    grid-template-columns: repeat(2, 1fr);
}
/* gmap-section */
#gmap-section {
    margin: 25px 0 0 0;
}
.gmap-image {
    width: 100% !important;
}
.serve-area {
    width: 100% !important;
}
.serve-area ul {
    padding: 0;
    margin: 23px 0 0 0;
}
.allp.slidep
{
    display: table;
}
.outer-card {
    margin-top: 10px !important;
}
.main-card {
        border: none;
        padding: 0px !important;
        margin: 0px !important;
    }
.slider-text .all-button
{
    display: none;
}
    .main-services {
        grid-template-columns: repeat(1, 1fr) !important;
    }
#who-section {
    margin: 5px 0 25px 0;
}
.who-img
{
    padding-bottom: 20px;
}
.who-text {
    padding: 0px 0 0 0px !important;
}
.blue-div ul 
{
    margin: 0;
    padding: 0
}
.blue-div li {
   
    display: inline-block;
    width: 50%;;
}
.outer-whyus {
    display: flex;
    flex-direction: column;
}
.why-list ul li 
{
    height: auto;
    padding: 10px 0 0 0;
    text-align: center;
}
.why-list ul li h3 {
    font-size: 20px;
    padding-top: 11px;
}
.usericon.whyicon {
    font-size: 20px;
    position: static;
    margin: auto;
    display: block;
}
.allp.whyp
{
    text-align: center;
}
#services-section {
    margin: 20px 0 0 0;
}
.main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.main-services.own-dementiaincluded {
   display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
}
.cta-text h3 {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: oswald, sans-serif;
}
#footer-section {
    background-color: white;
    padding: 6px 0px 16px 0px;
}
.mainlogo img {
    width: 130px;
    margin: auto;
    display: block;
}
.mainft {
    margin-top: 18px !important;
    padding-left: 16px !important;
}

/* about-page */
#story-section {
    margin: 30px 0 0 0;
}
.banner-inner {
    min-height: auto;
}
    .banner-text {
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 0 0 0;
        text-align: center;
        width: 100%;
    }
    .banner-text h1 {
    font-size: 25px;
}
.banner-text h2 {
    display: none;
}
.hc-services-cards-outer {
    grid-template-columns: repeat(1, 1fr);
}
.formcontent
{
    display: none !important;
}
   .storytext p {
    color: black;
    margin: 24px 0 0 0;
    font-size: 18px;
}
.banner-text .all-button
{
    display: none;
}
.mission-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 65px;
}
#process-section {
    margin: 0 0px 50px 0px;
}
.process-tabs .nav-item
{
    width: 100%;
    margin-bottom: 10px;
}
.process-tabs .nav-link
{
    width: 100%;

margin: 0;

}
#pills-tabContent {
    padding: 8px;
}
.protext
{
    width: 100%;;
}
.protext p 
{
    padding: 0;
}
.proimage
{
    width: 100%;

}

/* blog-page */
.main-blog {
    display: block;
}
.blog-image img 
{
    padding-left: 0px;
}
.left-blog-content {
    width: 100% !important;
    padding: 0;
}
.right-blog-list {
    width: 100% !important;
}
.numbering {
    padding-top: 27px;
}
/* booking-page */
.service-image {
    display: none;
}
.mainform ul li {
    width: 100%;
    margin: 0 0px;
}

.own-checkitems {
    padding: 22px 0 0 0px;
}

/* contact-page */
#slotpara-section {
    margin: 19px 0px 0 0px;
}
.coninfo-outer {
    margin: 0 0 50px 0;
}
.contact-icons ul {
    margin: 0 0 0 34px;
    padding: 0;
}
.contact-icons ul li {
    display: block;
    width: 50%;
}
.contact-icons .con-icon {
    font-size: 20px;
}
    .contact-icons .con-icon {
        left: -23px;
        top: 23px;
    }
.contact-icons ul li h4 {
    font-size: 20px;
}
.benefits-cards ul 
{
    margin: 0;
    padding: 0;;
}
.benefits-cards ul li {
    width: 100%;
    margin: 18px 0px 0 0;
}


/* inner-service-pages */
    .banner-text h4 {
        display: block;
        text-align: center;
    }
.ser-text h3 {
    font-size: 18px;
}
.allp{
    font-size: 15px;
}



}


@media (min-width:650px) and (max-width:767px)
{
.hero-cta
{
    display: inline-block;
    margin: 0 8px 0 6px;
}
}


@media (min-width:768px) and (max-width:992px)
{

.container, .container-sm {
        max-width: 100% !important;
    }
    .get-quote
{
    display: none;
}
.nav-toggle span {
        background: #FD5D02;
    }

.navbar
{
    width: 100% !important;
}
.nav-container
{
    margin: 0;
}
.nav-toggle
{
    right: 0;
}
.hero-text h1 {
    font-size: 35px;
}
.hero-text h2 {
    font-size: 20px;
}

.hero-image {
    height: auto;
}
.hero-text {
    left: 0;
    top: 0;
}
.slider-text h2 {
    font-size: 30px;
    margin-bottom: -4px;
}
#who-section {
    margin: 0px 0 38px 0;
}
.who-text
{
    padding: 0px 0 0 0px !important;;
}
.who-text {
    margin-top: 23px;
}
    .banner-text {
        text-align: center;
        left: 0;
        top: 0;
    }
    .banner-text h1 {
    font-size: 24px;
}
.banner-text h2 {
        display: block;
    }
.process-tabs ul li button {
    font-size: 16px;
}
.why-list ul li {
    text-align: center !important;
    height: 148px;
}
.hc-services-cards-outer {
    grid-template-columns: repeat(2, 1fr);
}
.protext
{
    width: 100%;;
}
.proimage
{
    width: 100%;
}
.protext p 
{
    padding: 0;
;
}
.all-services-cards {
    grid-template-columns: repeat(2, 1fr);
}
.blue-div li {
  
    width: 45%;
}
.allp.whyp {
   text-align: center;
}
.benefits-cards ul 
{
    margin: 0;
    padding: 0;
}
.gmap-image {
    width: 100% !important;
}
.serve-area {
    width: 100% !important;
}
.serve-area ul {
    padding: 0;
    margin: 23px 0 0 0;
}
.who-text
{
    margin-top: 30px;
}
.outer-whyus {
    display: grid;
}
.benefits-cards ul li {
    font-size: 16px;
    display: inline-block;
    width: 44% !important;
    margin: 10px 0 0 30px;
}
.usericon.whyicon {
    font-size: 20px;
    position: static;
    padding: 7px;
    font-size: 22px;
}
.mission-outer {
    gap: 12px;
}
.mainft {
    margin-top: 10px !important;
    padding-left: 18px !important;
}
.contact-icons ul {
    margin: 0;
    padding: 0 0 0 51px;
    display: block;
}
.contact-icons ul li {
    list-style-type: none;
    padding-bottom: 20px;
    margin: 0;
    display: inline-block;
    width: 33%;
}
.contact-icons .con-icon {
    font-size: 26px;
    color: #FD5D02;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    left: -35px;
    top: 28px;
    display: flex;
    align-items: center;
}
/* blog-page */
.main-blog {
    display: block;
}
.main-blog img {
    width: 100%;
    padding-left: 0;
}
.left-blog-content
{
    width: 100% !important;
    padding: 0;
}
.numbering {
    padding-top: 27px;
}
.right-blog-list {
    width: 100% !important
}
.service-image {
    display: none;
}
.main-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.formcontent {
    height: 600px;
}

}


@media (min-width:993px) and (max-width:1024px)
{

.container, .container-sm {
        max-width: 100% !important;
    }
    .get-quote
{
    display: table;
}
.nav-toggle span {
        background: #FD5D02;
    }
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 12px 21px !important;
}
.nav-menu li a {
    font-size: 16px;
}
.nav-menu li a, .dropdown-toggle{
    font-size: 16px !important;
}
.navbar
{
    width: 83% !important;
}
.nav-container
{
    margin: auto;
    padding-top: 10px;
}
.all-button
{
    padding: 10px 20px;
    margin-top: 10px;
}
.nav-toggle
{
    right: 0;
}
.hero-text h1 {
    font-size: 35px;
}
.slider-text h2 {
    font-size: 30px;
    margin-bottom: -4px;
}
#who-section {
    margin: 0px 0 38px 0;
}
.who-text
{
    padding: 0px 0 0 0px !important;;
}
.gmap-image
{
    width: 100% !important;
}
.serve-area
{
    width: 100% !important;
    margin-top: 20px !important;
}
.banner-text
{
    text-align: center;
    left: 0;
    top: 0;
}
.banner-text h1 {
    font-size: 35px;
}   
.why-list
{
    width: 100% !important;
}

    .why-list ul li {
        text-align: center !important;
        height: 180px;
    }
.blue-div li {
  
    width: 45%;
}
.allp.whyp {
   text-align: center;
}
.benefits-cards ul 
{
    margin: 0;
    padding: 0;
}
.who-text
{
    margin-top: 30px;
}
.benefits-cards ul li {
    font-size: 16px;
    display: inline-block;
    width: 47% !important;
    margin: 10px 0 0 11px;
}
.usericon.whyicon {
    font-size: 20px;
    position: static;
    padding: 7px;
    font-size: 22px;
}
.mission-outer {
    gap: 12px;
}
.mainft {
    margin-top: 10px !important;
    padding-left: 18px !important;
}
.contact-icons ul {
    margin: 0;
    padding: 0 0 0 51px;
    display: block;
}
.contact-icons ul li {
    list-style-type: none;
    padding-bottom: 20px;
    margin: 0;
    display: block;
    width: 33%;
}
.contact-icons .con-icon {
    font-size: 26px;
    color: #FD5D02;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    left: -35px;
    top: 28px;
    display: flex;
    align-items: center;
}
/* blog-page */
.main-blog {
    display: block;
}
.main-blog img {
    width: 100%;
    padding-left: 0;
}
.service-image {
    display: none;
}
.mainform ul li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin: 0;
}
.service-image {
        display: block;
    }
.formcontent {
    height: 580px;
}
.formcontent {
    display: none;
}
.mainform {
    width: 100%;
}
}

@media (min-width:1025px) and (max-width:1399px){
    .nav-menu
    {
        gap: 30px;
    }
.nav-menu li a {
    font-size: 16px;
}
.nav-menu li a, .dropdown-toggle{
    font-size: 16px !important;
}
.hero-text h1
{
    font-size: 45px;

}
.why-list ul li {
    height: 114px;
}
.benefits-cards ul {
    margin: 0;
    padding: 0;

};
.benefits-cards ul li {
    width: 100%;
}








}