@media (min-width:0px) and (max-width:767px) {

  .container
  {
    padding: 0;
    margin: 0;
    max-width: 100% !important;
  }
  .inner-main-header .navbar-nav .nav-item a {
    font-size: 28px;
   
    margin: 10px 20px 8px 11px;
   
    border-bottom: 1px solid black;
}
.get-quote button {
  font-size: 21px;
}
.get-quote {
  margin-left: 12px;
}
.item-info img {
  left: 47% !important;
  width: 50px !important;
  height: 50px !important;
  top: -40px !important;
}
.item-info h3 {
  width: 85%;
}
.inner-main-slider #owl-demo .item .item-info {
  top: 25%;
}
.item-info p {
  font-size: 28px;
}

.about-image {
  width: 100%;
}
.about-detail {
  margin: 12px 0 0 0;
  width: 100%;
}
.about-heading p {
  
  font-size: 23px;
}
.blue-button {
  
  font-size: 20px;
}
.main-feature-list ul li {
  display: grid;
  width: 100%;
}
.service1 {
  width: 100%;
  margin: 0 0 0 0px;
}
.service-detail h2 {
  font-size: 35px;
}
.service-detail p {
  font-size: 22px;
}
.main-windows .about-images {
  margin-top: 0%;
  width: 100%;
  margin-bottom: 30px;
}
.about-para p {
  font-size: 22px;
}
.main-windows ul {
  padding: 0;
}
.windows-icons ul li {
  width: 50%;
}
.main-project #myTab .nav-item {
 
  margin: 0 1px 19px 48px;
}
.window-image {
  margin-bottom: 13px;
  width: 50%;
}
.call-main .form-group {
  width: 100%;
}
.logo-one-footer {
  width: 100%;
}
.one-footer {
  /* WIDTH: 20%; */
  width: 100%;
}
.logo-one-footer h2 {
  margin-left: 0;
}
.logo-one-footer p {
  max-width: 100%;
  text-align: justify;
  color: white;
  padding-left: 0;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
.footer-outer {
  margin-top: 40px;
  padding: 0 15px 0 15px;
}
.about-images img {
  border: none;
}

}