@media (min-width:0px) and (max-width:767px) {

  .container
  {
    padding: 0;
    margin: 0;
    max-width: 100% !important;
  }
  
  /* NAVBAR - Mobile */
  .inner-main-header .navbar {
    padding: 10px 0;
    height: auto;
  }
  .inner-main-header .navbar-brand img {
    width: 80px;
    height: auto;
  }
  .inner-main-header .navbar-toggler {
    border: none;
    padding: 5px;
  }
  .inner-main-header .navbar-toggler:focus {
    box-shadow: none;
  }
  .inner-main-header .navbar-nav .nav-item a {
    font-size: 16px;
    margin: 8px 0;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f0f0;
  }
  .inner-main-header .navbar-nav .nav-item:hover a {
    border-bottom: 2px solid #FD5D02;
  }
  .inner-main-header .dropdown-menu {
    background-color: #f8f8f8;
    border: none;
    padding-left: 20px;
  }
  .get-quote {
    margin-left: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  .get-quote button {
    font-size: 14px;
    padding: 8px 20px;
    width: 90%;
  }
  
  /* SLIDER - Mobile */
  .slider-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .slider-text p.slidep {
    font-size: 14px;
    max-width: 95%;
    margin: 10px 0 20px 0;
  }
  .slider-text button {
    font-size: 12px;
    padding: 8px 20px;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  
  /* FOOTER - Mobile */
  #footer-section {
    padding: 30px 0 15px 0;
  }
  .mainlogo {
    text-align: center;
    padding: 0 15px;
  }
  .mainlogo img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
  }
  .allp.footp {
    font-size: 14px;
    text-align: center;
  }
  .mainft h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .mainft h4::after {
    margin: 10px auto 0;
    width: 50px;
  }
  .mainft ul {
    padding: 12px 0 0 0;
  }
  .mainft ul li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .mainft ul li a {
    font-size: 14px;
  }
  .mediaicons {
    justify-content: center;
    gap: 15px;
  }
  .mainft .mediaicons li a {
    font-size: 28px;
  }
  .rightp {
    font-size: 12px;
    margin-top: 20px;
    padding: 0 15px;
  }
  .footer-main {
    flex-direction: column;
  }
  
.get-quote button {
  font-size: 21px;
}
.get-quote {
  margin-left: 12px;
}
.item-info img {
  left: 47% !important;
  width: 50px !important;
  height: 50px !important;
  top: -40px !important;
}
.item-info h3 {
  width: 85%;
}
.inner-main-slider #owl-demo .item .item-info {
  top: 25%;
}
.item-info p {
  font-size: 28px;
}

.about-image {
  width: 100%;
}
.about-detail {
  margin: 12px 0 0 0;
  width: 100%;
}
.about-heading p {
  
  font-size: 23px;
}
.blue-button {
  
  font-size: 20px;
}
.main-feature-list ul li {
  display: grid;
  width: 100%;
}
.service1 {
  width: 100%;
  margin: 0 0 0 0px;
}
.service-detail h2 {
  font-size: 35px;
}
.service-detail p {
  font-size: 22px;
}
.main-windows .about-images {
  margin-top: 0%;
  width: 100%;
  margin-bottom: 30px;
}
.about-para p {
  font-size: 22px;
}
.main-windows ul {
  padding: 0;
}
.windows-icons ul li {
  width: 50%;
}
.main-project #myTab .nav-item {
 
  margin: 0 1px 19px 48px;
}
.window-image {
  margin-bottom: 13px;
  width: 50%;
}
.call-main .form-group {
  width: 100%;
}
.logo-one-footer {
  width: 100%;
}
.one-footer {
  /* WIDTH: 20%; */
  width: 100%;
}
.logo-one-footer h2 {
  margin-left: 0;
}
.logo-one-footer p {
  max-width: 100%;
  text-align: justify;
  color: white;
  padding-left: 0;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
.footer-outer {
  margin-top: 40px;
  padding: 0 15px 0 15px;
}
.about-images img {
  border: none;
}

}

/* Make images and iframes scale within their containers */
img, iframe, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Tablet styles: 768px - 991px */
@media (min-width:768px) and (max-width:991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* NAVBAR - Tablet */
  .inner-main-header .navbar {
    padding: 12px 0;
  }
  .inner-main-header .navbar-brand img {
    width: 100px;
    height: auto;
  }
  .inner-main-header .navbar-nav .nav-item a {
    font-size: 18px;
    margin: 0 15px;
    padding: 5px 0;
  }
  .get-quote button {
    font-size: 16px;
    padding: 10px 24px;
  }
  
  /* SLIDER - Tablet */
  .slider-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .slider-text p.slidep {
    font-size: 16px;
    max-width: 80%;
    margin: 12px 0 28px 0;
  }
  .slider-text button {
    font-size: 14px;
    padding: 10px 24px;
  }
  
  /* FOOTER - Tablet */
  #footer-section {
    padding: 40px 15px 20px 15px;
  }
  .mainlogo {
    text-align: center;
  }
  .mainlogo img {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
  }
  .mainft {
    margin-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .mainft h4 {
    font-size: 20px;
  }
  .mainft h4::after {
    width: 60px;
  }
  .mainft ul li {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .mainft ul li a {
    font-size: 15px;
  }
  .mainft .mediaicons li a {
    font-size: 32px;
  }
  
  .item-info p {
    font-size: 20px;
  }
  .service-detail h2 {
    font-size: 30px;
  }
  .service-detail p, .about-para p {
    font-size: 18px;
  }
  .window-image {
    width: 75%;
  }
}

/* Small desktops / large tablets: 992px - 1199px */
@media (min-width:992px) and (max-width:1199px) {
  /* NAVBAR - Small Desktop */
  .inner-main-header .navbar {
    padding: 15px 0;
  }
  .inner-main-header .navbar-brand img {
    width: 120px;
    height: auto;
  }
  .inner-main-header .navbar-nav .nav-item a {
    font-size: 18px;
    margin: 0 18px;
  }
  .get-quote button {
    font-size: 16px;
    padding: 10px 26px;
  }
  
  /* SLIDER - Small Desktop */
  .slider-text h2 {
    font-size: 48px;
  }
  .slider-text p.slidep {
    font-size: 18px;
    max-width: 65%;
  }
  
  /* FOOTER - Small Desktop */
  #footer-section {
    padding: 45px 0 20px 0;
  }
  .mainlogo img {
    width: 120px;
  }
  .mainft {
    margin-top: 35px !important;
    padding-left: 60px !important;
  }
  .mainft h4 {
    font-size: 22px;
  }
  .mainft ul li {
    font-size: 16px;
  }
  .mainft .mediaicons li a {
    font-size: 34px;
  }
  
  .service-detail h2 {
    font-size: 36px;
  }
  .item-info p {
    font-size: 18px;
  }
}

/* Large desktops: 1200px and above */
@media (min-width:1200px) {
  /* NAVBAR - Large Desktop */
  .inner-main-header .navbar {
    padding: 18px 0;
  }
  .inner-main-header .navbar-brand img {
    width: 140px;
    height: auto;
  }
  .inner-main-header .navbar-nav .nav-item a {
    font-size: 19px;
    margin: 0 50px 0 0;
    color: #FD5D02;
  }
  .inner-main-header .navbar-nav .nav-item:hover a {
    border-bottom: 2px solid #FD5D02;
  }
  .get-quote button {
    font-size: 16px;
    padding: 10px 28px;
  }
  
  /* SLIDER - Large Desktop */
  .slider-text h2 {
    font-size: 63px;
  }
  .slider-text p.slidep {
    font-size: 20px;
    max-width: 61%;
  }
  
  /* FOOTER - Large Desktop */
  #footer-section {
    padding: 50px 0 20px 0;
  }
  .mainlogo img {
    width: 130px;
  }
  .allp.footp {
    font-size: 16px;
  }
  .mainft {
    margin-top: 38px !important;
    padding-left: 74px !important;
  }
  .mainft h4 {
    font-size: 24px;
  }
  .mainft ul li {
    font-size: 18px;
  }
  .mainft ul li a {
    font-size: 18px;
  }
  .mainft .mediaicons li a {
    font-size: 35px;
  }
  .rightp {
    font-size: 16px;
    margin-top: 30px;
  }
}